@import '../../../colors.scss';

@font-face {
    font-family: 'Achivo';
    src: url('../../../fonts/Archivo-Regular.ttf');
    font-weight: normal;
}

footer {
    height: 300px;
    width: 100%;
    background: $darkBlue;
    font-family: 'Archivo', sans-serif;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    .line1,
    .line2 {
        width: 2px;
        height: 60%;
        background: black;
    }
    .line1 {
        margin-right: 250px;
    }
    .line2 {
        margin-left: 200px;
    }
    .sites-container {
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .email-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3px 0;
            .ext-link {
                text-decoration: none;
                .circle {
                    width: 50px;
                    height: 50px;
                    background: black;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    .fas,
                    .fab {
                        color: $homeWhite;
                        font-size: 26px;
                    }
                    &:hover {
                        background: #ccf2f2;
                        .fas,
                        .fab {
                            color: black;
                        }
                    }
                }
            }
            span {
                color: rgba(0,0,0,0.4);
                margin-left: 15px;
                font-size: 16px;
            }
        }
    }
}