.about-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-row {
        display: flex;
        align-items: center;
        margin: 5em auto;
        .text1 {
            margin-left: 2.3em;
        }
        .text2 {
            margin-right: 2em;
        }
        h2 {
            font-size: 2.5em;
            margin-bottom: 0.5em;
        }
        &:first-of-type p {
            margin-bottom: 0.5em;
        }
        p {
            width: 20em;
            font-size: 1.5em;
        }
    }
    .row-2 {
        display: flex;
        flex-direction: row-reverse;
    }
}