@font-face {
    font-family: 'Achivo';
    src: url('./Archivo-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Achivo';
    src: url('./Archivo-Bold.ttf');
    font-weight: bolder;
}
@font-face {
    font-family: 'Achivo';
    src: url('./Archivo-SemiBold.ttf');
    font-weight: bold;
}
