@import '../../../src/colors.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "europa", sans-serif;
}

.Home {
    position: relative;
    background: $homeWhite;
    height: 100vh;
    width: 100%;
    .first-container {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .front-text {
            margin: 0 120px 0 0;
            h1 {
                font-size: 50px;
                color: $darkBlue;
            }
            h2 {
                font-size: 30px;
                margin-bottom: 10px;
            }
            p {
                font-size: 20px;
            }
        }
        .pic {
            position: relative;
            width: 300px;
            height: 300px;
            img {
                border-radius: 50%;
                background-size: cover;
                background-position: center center;
                width: 300px;
                height: 300px;
            }
        }
    }
    .skills-section {
        height: 100vh;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: $lightestBrown;

        h1 {
            margin-bottom: 30px;
            color: $darkBlue;
        }
        .skills-container {
            display: flex;
            width: 100%;
            height: 550px;
            justify-content: center;
            .skill-type {
                margin: 0 20px;
                width: 400px;
                text-align: center;
                border: 4px solid rgba(223, 187, 154, 0.219);
                .logo-box {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding-top: 20px;
                }
                h3 {
                    background: $lightBlue;
                    color: rgb(221, 226, 235);
                }
            }
        }
    }
}