@import '../../../src/colors.scss';

@font-face {
    font-family: 'Achivo';
    src: url('../../fonts/Archivo-Bold.ttf');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Home {
    position: relative;
    background: #fff;
    background-size: cover;
    height: 100vh;
    width: 100%;
    .section-title {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,1);
        text-align: center;
        height: 100px;
        h1 {
            border-radius: 4px;
            color: white;
            letter-spacing: 2px;
            padding: 0.1em 2em;
        }
    }
}

//// Animations


@-webkit-keyframes change {
    0% {transform:translate3d(0,0,0);}
    5% {transform:translate3d(0,-120%,0);}
    30% {transform:translate3d(0,-120%,0);}
    35% {transform:translate3d(0,-240%,0);}
    55% {transform:translate3d(0,-240%,0);}
    60% {transform:translate3d(0,-120%,0);}
    80% {transform:translate3d(0,-120%,0);}
    85% {transform:translate3d(0, 0,0);}
}

@keyframes change {
    0% {transform:translate3d(0,0,0);}
    5% {transform:translate3d(0,-120%,0);}
    30% {transform:translate3d(0,-120%,0);}
    35% {transform:translate3d(0,-240%,0);}
    55% {transform:translate3d(0,-240%,0);}
    60% {transform:translate3d(0,-120%,0);}
    80% {transform:translate3d(0,-120%,0);}
    85% {transform:translate3d(0, 0,0);}
}