@import '../../../src/colors.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "europa", sans-serif;
}

.Home {
    position: relative;
    background: $homeWhite;
    height: 100vh;
    width: 100%;
    .first-container {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .front-text {
            margin: 0 120px 0 0;
            h1 {
                font-size: 50px;
                color: $darkBlue;
            }
            h2 {
                font-size: 30px;
                margin-bottom: 10px;
            }
            p {
                font-size: 20px;
            }
        }
        .pic {
            position: relative;
            width: 300px;
            height: 300px;
            background: black;
            img {
                border-radius: 50%;
                background-size: cover;
                background-position: center center;
                width: 300px;
                height: 300px;
            }
        }
    }
    .skills-section {
        color: blue;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .skills-container {
            display: flex;
            width: 100%;
            height: 500px;
            background: blue;
            justify-content: center;
            .skill-type {
                margin: 0 20px;
                width: 400px;
                background: red;
                text-align: center;
                background: white;
                h3 {
                    background: gold;
                }
            }
        }
    }
}