.project1 {
    margin: 20px;
    width: 450px;
    height: 250px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7), rgba(248, 240, 240, 0.5));
    cursor: pointer;
}