@import '../../../colors.scss';

.Header {
    background: $lightBlue;
    font-family: "europa", sans-serif;
    min-height: 70px;
    width: 100%;
    height: 70px;
    font-size: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 35px;
    position: fixed;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 1;
    .link-container {
        display: flex;
    }
    // .icon {
    //     background: white;
    //     width: 200px;
    //     height: 80px;
    //     text-align: center;
    //     padding: 10px;
    //     font-size: 20px;
    //     border: 4px solid black;
    //     color: black;
    // }
}