.single-project-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 30px;
        background: black;
        color: white;
        height: 150px;
    }
    .top-container {
        display: flex;
        .img-container {
            padding: 40px;
        }
        .description-container {
            padding: 40px 30px;
            h2 {
                margin-bottom: 20px;
            }
        }
    }
    .middle-container {
    }
    .bottom-container {

    }
}